.logo{
    background-image: url("https://www.google.com/search?q=eiffel+tower+images&bih=620&biw=1008&rlz=1C1CHBF_enUS916US916&hl=en&sxsrf=ALeKk03rnpimCM_j4KssPigPQanET5uVFw:1601929934994&tbm=isch&source=iu&ictx=1&fir=ZVVpqmfbhPTu0M%252CQGlP2ExiVvQUJM%252C_&vet=1&usg=AI4_-kR2aIydM0ozR-Vm9KJDlDuNTEw1KQ&sa=X&ved=2ahUKEwinmuuFpp7sAhXOMd8KHRf7BOsQ9QF6BAgSEGQ#imgrc=ZVVpqmfbhPTu0M");
    background-repeat: no-repeat;
    background-size: cover;
}