.canada_pic {
background: url("https://www.nationalgeographic.com/content/dam/travel/Guide-Pages/north-america/toronto-travel.adapt.1900.1.jpg") ;
background-repeat: no-repeat;
background-size: cover;
}