.franceImage{
    background-image: url("https://www.croda.com/mediaassets/images/corporate/careers/our-locations/paris-skyline.jpg?la=en-gb&w=1920&focalpointcrop=1&xratio=0&yratio=0&hash=1E3E9F75B597A6829AC0965E11E44BD38A4B7D7B");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}